<?xml version="1.0"?>
<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="LaminasApiTools\Admin Module Tests">
            <directory>./test</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>

    <php>
        <env name="TESTS_LAMINAS_API_TOOLS_ADMIN_EXTMONGODB_CONNECTSTRING" value="mongodb://mongo"/>
        <env name="TESTS_LAMINAS_API_TOOLS_ADMIN_EXTMONGODB_DATABASE" value="laminas_api-tools_admin_server_test"/>
    </php>
</phpunit>
