<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    bootstrap="test/Bootstrap.php"
    colors="true"
    xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd">
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </coverage>

    <testsuites>
        <testsuite name="LaminasApiTools\Admin Module Tests">
            <directory>./test</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="TESTS_LAMINAS_API_TOOLS_ADMIN_EXTMONGODB_CONNECTSTRING" value="mongodb://mongo"/>
        <env name="TESTS_LAMINAS_API_TOOLS_ADMIN_EXTMONGODB_DATABASE" value="laminas_api-tools_admin_server_test"/>
    </php>
</phpunit>
